@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap");
:root {
  --text: #252525;
  --text-2: #25252580;
  --bg: whitesmoke;
  --primary: #3db4f2;
  --secondary: rgb(237 237 237);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
body {
  color: var(--text);
  background-color: var(--bg);
}
.dark-mode {
  --bg: #252525;
  --text: whitesmoke;
  --text-2: #6a6a6a80;
  --secondary: rgb(46 46 46);
}
.light-mode {
  --text: #252525;
  --text-2: #25252580;
  --bg: whitesmoke;
  --secondary: rgb(237 237 237);
}
.dark-blue {
  --text: whitesmoke;
  --text-2: #8d8d8d1c;
  --bg: #0b1622;
  --primary: #3db4f2;
  --secondary: #151f2e;
}
/* -------------
  INITIALIZATION
  -------------- */
.container {
  margin: 0 auto;
  width: 50%;
}
.project-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 1.5vh 0;
}
.project-img {
  width: 100%;
  border-radius: 5px;
}
.project-box {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 5px;
  text-decoration: none;
}
.project {
  padding: 5vh 0;
}
.title,
.project-title {
  color: var(--primary);
}
.project-desc {
  font-size: 15px;
  color: var(--text);
  opacity: 70%;
}
.collab-main {
  display: flex;
}
.collab {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.collab-img {
  width: 100%;
  border-radius: 50%;
}
.collab-2 {
  transform: translateX(-14px);
}
/* -------------
  RESPONSIVENESS
  -------------- */
@media screen and (max-width: 1440px) {
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 980px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .project-main {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 350px) {
  .project-main {
    grid-template-columns: 1fr;
  }
}
